<!DOCTYPE HTML>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Добро пожаловать</title>
    <meta name="description" content="Описание страницы" />
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
  </head>
  <body>
   <div class="main">
    <img class="logo-img" src="images/mega.png"/>
       <button class="button">Зарегистрироваться</button>
       <button class="button">Войти</button>
       <button class="button">Тех.поддержка</button>
       <button class="button">Выйти из бота</button>
   </div>
  </body>
</html>